.btn-dark {
       background-color: rgb(15, 15, 15) !important;
}


.bgBody {
       background-color: rgb(30, 30, 30);
}

.bgNav {
       background-color: rgb(40, 40, 40);
       box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.16),
              0 1px 2px rgba(0, 0, 0, 0.45);
       border-radius: 1px;
}

.buscar {
       border: 0 !important;
       background-color: rgb(35, 35, 35) !important;
}

.btnBuscar {
       border: 0 !important;
       background-color: rgb(35, 35, 35) !important;
}

.formBuscar {
       border: 0 !important;
       background-color: rgb(35, 35, 35) !important;
}

.navTop {
}

.bgNote {
       background-color: rgb(40, 40, 40);
       color: white;
}

.btn-flotante {
       position: fixed;
       bottom: 40px;
       right: 30px;
       transition: all 300ms ease 0ms;
       box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
       z-index: 99;
       border-radius: 50%;
}
.btn-flotante:hover {
       box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
       transform: translateY(-1px);
}
@media only screen and (max-width: 600px) {
       .btn-flotante {
              font-size: 14px;
              padding: 12px 20px;
              bottom: 20px;
              right: 20px;
       }
}

.btn-flotante2 {
       position: fixed;
       bottom: 100px;
       right: 25px;
       transition: all 300ms ease 0ms;
       box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
       z-index: 99;
       border-radius: 50%;
}
.btn-flotante2:hover {
       box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
       transform: translateY(-1px);
}

@media only screen and (max-width: 600px) {
       .btn-flotante2 {
              font-size: 14px;
              padding: 12px 20px;
              bottom: 20px;
              right: 20px;
       }
}

.imaAnuncio {
       border-radius: 5px;
       width: 100%;
       height: 100%;
}

.textAnuncio {
       font-size: 15px;
       color: red;
}

/*
       Nav horizontale
*/

/* Style the tab */
.tab {
       float: left;
       background-color: rgb(30, 30, 30);
       width: 150px;
       height: 300px;
       margin: 5px;
}

/* Style the buttons inside the tab */
.tab button {
       display: block;
       background-color: rgb(30, 30, 30);
       color: rgb(255, 255, 255);
       width: 100%;
       border: none;
       outline: none;
       text-align: left;
       cursor: pointer;
       transition: 0.3s;
       font-size: 16px;
       margin: 5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
       background-color: rgb(50, 50, 50);
       color: rgb(255, 255, 255);
}

/* Create an active/current "tab button" class */
.tab button.active {
       background-color: rgb(50, 50, 50);
       color: rgb(255, 255, 255);
}

/* Style the tab content */
.tabcontent {
       float: left;
       margin: 10px;
}
